
html, body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

h1 {
  font-size: 1.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



