
.btn {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;

  &:hover {
    transform: scale(.98);
  }
}

