.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;

  &__service &__icon &__img {
    max-width: 100px;
  }
  
  &__service {
    padding: 30px;
    border: 1px solid rgba(177, 175, 175, 0.1);
    &:hover {
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    @mixin atServicesOneCol {
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 20px;
      color: #1b206e;
    }
  }

  @mixin atServicesTwoCol {
    grid-template-columns: repeat(2, 1fr);
  }

  @mixin atServicesOneCol {
    grid-template-columns: 1fr;
  }
}




